.book{
    text-align: center;
}
.input{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 5%;
   margin-top: 5%;
   margin-bottom: 2%;
}
.input input{
    margin-left: 2%;
    border: 1px solid #000;
}