*{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}


/* ----------------------------our-story------------- */
.our-story{
  background: #EDEEF7;
}
.our-story-h1{
  color: #333;
}
.our-story-p{
  color: #EBA056;
}
.our-story-p2{
  color: #888;
}
.our-story-img{
  width: 600px;
}
.header-theme{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 600px;
}